{% extends 'themes/base_admin.html.twig' %}

{% block title %}Pistes de padel{% endblock %}

{% block description %}Pistes de padel{% endblock %}

{% block keywords %}Pistes, padel, admin{% endblock %}


{% block main %}
    <h1 class="text-center my-3 display-5">Pistes de padel</h1>

    <p class="text-center">Hello {{ app.user.firstName }}!</p>
{% endblock %}