{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Confirmer la réservation{% endblock %}

{% block description %}Confirmer la réservation{% endblock %}

{% block main %}

    <div class="grey2 py-5">
        <div class="container">
            
        </div>
    </div>


{% endblock %}