{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Réservez un terrain{% endblock %}

{% block description %}Réservez un terrain{% endblock %}

{% block keywords %}Padel, Tennis, Club, Time, Reservation, Terrain, Piste{% endblock %}

{% block main %}

    <div class="grey2 py-5">
        <div class="container">
            <h1 class="text-center text-white pb-5">Reservez un terrain</h1>
            <div class="row d-flex justify-content-center">
                {% for day in days %}
                    <a class="col-3 col-md-2 me-1 mb-1 btn btn-light">{{ day|date('D j M', 'Europe/Paris', 'fr') }}</a>
                {% endfor %}
            </div>
            {% for day in days %}
                
            {% endfor %}
        </div>
    </div>

{% endblock %}