{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Le padel{% endblock %}

{% block description %}En savoir plus sur le padel{% endblock %}

{% block keywords %}Padel, Tennis, Club, Time, Histoire, Règles, Niveaux{% endblock %}

{% block main %}

    <div class="grey2 text-white text-center">
        <!-- Titre -->
        <h1 class="text_size_xl py-5">LE PADEL</h1>
        
        <!-- L'histoire -->
        <section class="container pb-5">
            <h2 class="mb-5">L'histoire du padel</h2>
            <div class="d-flex flex-column-reverse align-items-center flex-lg-row justify-content-lg-between">
                <p class="text_size_s text-lg-start me-lg-3">
                    Le Padel, ce sport dynamique et excitant qui mélange des éléments de tennis et de squash, a connu une évolution fascinante depuis sa création en 1969. Il est né au Mexique grâce à l’ingéniosité d’Enrique Corcuera, qui avait un problème de taille de terrain pour jouer au tennis dans sa cour. Ses balles disparaissaient trop souvent dans la végétation environnante. C’est dans ce contexte que l’idée ingénieuse de construire des murs autour d’un terrain de 20 mètres sur 10 mètres est née, donnant naissance au Padel tel que nous le connaissons aujourd’hui. À ses débuts, le Padel se pratiquait avec des raquettes en bois plates, similaires à celles utilisées au pickleball, un sport de raquettes très populaire aux États-Unis.
                </p>
                <img class="img-fluid mb-4 rounded mb-lg-0" src="/images/histoire_padel.jpg" alt="">
            </div>
        </section>

        <!-- Matériel et terrains -->
        <section class="container pb-5">
            <h2 class="mb-5">Le matériel et les terrains</h2>
            <div class="d-flex flex-column align-items-center flex-lg-row">
                <div class="d-flex flex-column img-fluid me-lg-3 flex-md-column-reverse">
                    <img src="/images/photo_accueil.jpeg" class="rounded mb-1 mb-lg-0 me-lg-1 " alt="">
                    <img src="/images/terrain.jpeg" width="500" class="rounded d-none d-md-block" alt="">
                </div>
                <div class="text-lg-start">
                    <h3 class="text_size_m mt-4 mt-lg-0">Particularités d’une piste de padel</h3>
                    <p class="text_size_s">
                        Le terrain de Padel (qu'on appelle "piste") est constitué d’un environnement spécifique et différent des autres sports de raquette.
                        De dimension réduite, il mesure 20m de long pour 10m de large séparé d’un filet en son milieu. En comparaison, un terrain de tennis mesure 23,77m par 10,97m mais ce dernier dispose d’une zone de jeu extérieure agrandissant l’aire totale de la surface de jeu (34,77m par 17,07).
                        Le filet de la piste de padel est identique au filet de tennis, composé de mailles tendues entre les deux poteaux latéraux par un câble en acier gainé d’une bande plastique blanche.
                        L’une des particularités du padel se trouve dans son aire de jeu limitée et cloisonnée par des grilles dans sa partie latérale et des vitres dans ses parties postéro-latérales et postérieures. Le joueur de padel peut sortir de la piste uniquement par une porte de dimension réduite de 2,2m de hauteur par 1,8m de large, répartie de part et d’autre du filet de padel.
                    </p>
                    <h3 class="text_size_m">Une raquette particulière…</h3>
                    <p>
                        Du côté du jeu, le padel se pratique avec des raquettes (qu'on appelle "pala") pleines composées de mousse rigide recouverte de carbone ou de fibre de verre. Elles pèsent entre 300 et 390 grammes et présentent toutes une lanière de sécurité permettant de les relier au poignet du joueur. Les balles utilisées sont semblables à celles utilisées dans le tennis, avec une pression légèrement inférieure.
                    </p>
                </div>
            </div>
        </section>

        <!-- Règles -->
        <section class="container pb-5" id="regles">
            <h2 class="mb-5">Les règles</h2>
            <div class="d-flex flex-column-reverse align-items-center flex-lg-row justify-content-lg-between">
                <div class="mt-4 mt-lg-0 text-lg-start text_size_s">
                    <p>1. Après un rebond au sol, la balle peut rebondir sur toutes les parties du court.</p>
                    <p>2. Le service s’effectue par le bas, derrière la ligne de service et dans la diagonale des adversaires.</p>
                    <p>3. Le padel se joue exclusivement en double (2 contre 2).</p>
                    <p>4. La balle est faute si elle touche le mur ou le grillage avant un rebond au sol.</p>
                    <p>5. Le décompte des points est celui du tennis, soit 2 manches en 6 jeux gagnants.</p>
                    <p>6. Les joueurs peuvent reprendre la balle de volée ou après un rebond au sol et un ou plusieurs rebonds sur les murs ou grillage.</p>
                </div>
                <a class="d-md-none" href="https://youtu.be/xmUEpSrcEao" target="_blank"><img src="/images/img_vid.png" width="350" alt=""></a>
                <iframe class="d-none d-md-block" width="800" height="450" src="https://www.youtube.com/embed/xmUEpSrcEao" title="Do you know how to play padel?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </section>

        <!-- Niveaux -->
        <section class="container pb-5" id="niveaux">
            <h2 class="mb-5">Les niveaux au padel</h2>
            <div class="d-flex flex-column align-items-center flex-lg-row justify-content-lg-between">
                <a href="/images/niveau_padel.png" target="_blank"><img src="/images/niveau_padel_carre.png" width="550" class="rounded" alt=""></a>
                <div class="mt-3 text_size_s ms-lg-3 mt-lg-0 text-lg-start">
                    <p>
                        Le padel est un sport de raquette de plus en plus populaire en France, et de nombreux joueurs cherchent à évaluer leur niveau de jeu dans cette discipline. Connaître son niveau de padel est essentiel pour mesurer sa progression, définir ses objectifs et identifier les aspects à travailler pour améliorer son jeu. Mais surtout, c’est la clé pour trouver des matchs équilibrés où vous et vos partenaires ne vous ennuierez pas !
                    </p>
                    <p>
                        Le tableau des niveaux de padel a pour objectif de définir plus précisément les niveaux des joueuses et joueurs, en les expliquant précisément, afin d’établir un barème à jour des niveaux 2023-24.
                    </p>
                </div>
            </div>
        </section>
    </div>

{% endblock %}