{% extends 'themes/base_visitor.html.twig' %}

{% block title %}En attente de validation du compte{% endblock %}

{% block description %}En attente de validation du compte{% endblock %}

{% block keywords %}email, verif{% endblock %}

{% block main %}
    <div class="grey2 h-100 py_6 d-flex justify-content-center align-items-center">
        <div class="container d-flex flex-column align-items-center text-white py-5">
            <h1 class="text_size_xl mb-5">En attente...</h1>
            <p class="text_size_m mb-5">Un email vous a été envoyé pour la vérification de votre compte.</p>
        </div>
    </div>
{% endblock %}